<br/><br/>
<h2><b>Contact Us</b></h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm col-md col-lg">
            <h3>Contact Information</h3>
            <hr/>
            <ul>
                <li>Edit floor: BABA Studio 3-A Valecha Chambers <br/>New Link road, Andheri(W), Mumbai</li><br/>
                <div class="other">
                <li>+91 9821131381</li><br/>
                <li>+91 9321131381</li><br/>
                <li>+91 7718832381</li><br/>
                <li>strategicvissionindia@gmail.com</li><br/>
                <li>svimediahouse@gmail.com</li><br/>
                <li>svidigitalmediasolutions@gmail.com</li>
            </div>
            </ul>
        </div>
            
        <div class="col-sm col-md col-lg">
            <img src="../assets/images/contact.png"  class="img-thumbnail" class="col-sm col-md-col-lg" align="right">
        </div>
    </div>
    
	
</div>
<p><u>Note: Please book an appointment before visit.</u></p>