<br/><br/>
<h1><b>About Our Founder Director</b></h1>
<br/>
<div class="alignment">
	<p><b>United Creative Motion Pictures</b> is the brain child of Mr Dinesh Srivastava and Dr. Kirti Srivastava.Thus the company was incorporated & conceived with an sole aim of making master pieces in motion pictures with a global outlook.</p>
	<p>​ Brief Professional and Creative history of Dinesh Srivastava, the person behind United Creative Motion Pictures.<br/>
	He has more then <b>25 yrs of experience in Ad Film Making</b>. We take a glimpse at his exclusive career span.</p>
	<ul *ngFor="let team of directors">
		<li>{{ team.description }}</li>
	</ul>
	<p>Media Strategist & creative director for following brand <br/> Super Gas (Fortune 500-Leading LPG Company), Winstone Jeans, Moniba Water Purifier, Lexi Pen, Pancharatna Coconut Oil, Andaz Pan Masala, Sundaram Notebooks, Satra Group, Figaro(Spanish Olive Oil), Coco Kiran Ccoconut Oil, KP Refined Sunflower Oil, Double Bull & Karl Logan, Samurai Electronic Mosquito Repellent, Crystal Kitchenware, Kores Tiger Pencil,Regent Vitrified Tiles, Jet Vitrified Tiles, Rak Ceramics, Simpolo Vitrified Tiles,PoyGel Vishwas Gold Adhesives / Kushal White Adhesives / Pegaus Paints & Primers,Vaishnav TMT,Sophus Elevators, Ashtech Flyash & Others, Kisan & Classic-PVC Pipes & Others, Commander watertech and Cisterns, Polycab Wires PVT. LTD, Polycab switches, RCF.Etc<br/><b>Strategic Vision India” Is An Specialized Media Agency & “Software Production House”</b></p>
</div>

<br/><br/><br/><br/><br/><br/>

