<br/><br/>
<h2><b>Media Initiatives</b></h2>
<p class="alignment">SVIMedia House other than producing feature films also has other media initiatives that are based on creative causes but with input of social themes.Social Awareness films , Special awards , and Theater are some of those initiatives.In this context the company has wide plans which are to be executed in 2017 .Those plans are having both commercial & Social Value and are path breaking in nature.</p>
<h2><b>Hollywood270</b></h2>
<p class="alignment">As the name suggests deals with concepts , directions , and productions techniques of film making with an global perspective.We do research & analysis on all the finest of films produced in Japan ,West Asia,Europe and America which are directed by prominent persons." Hollywood270" simply means a 270 degree view of the world cinema from Japan to Hollywood.Simply said, it tracks for new generation of actors, directors and unique creation of motion pictures.<br/><br/>
	<b>What we do in Hollywood270? </b><br/><br/>
	Now the question arises, what we do through the research and analysis that we do extensively under Hollywood270? .The answer lies in our forthcoming international project -" The Hatch" : a Indo-Turkish joint venture where we are going to see strong combination of Bollywood emotions,west Asian themes and Hollywood expertise all patched together in one place. Our sole aim: Research , Analyze and combine new creative thoughts into audio visual master pieces.
</p>
<h2><b>Moviesindi</b></h2>
<p class="alignment">SVIMedia House is currently in process of concept creation for 2 Hindi Movies.Both the movies are commercial in nature. "Moviesindi" as a brand will work related to Market Research & Intellectual Practices in Hindi Movies.We are working on the following segments currently. <br/><br/></p>
<div>
	<ul>
		<li>Hindi Movies.</li>
		<li>Regional Movies.</li>
		<li>Short Films.</li>
		<li>Promotional Films.</li>
		<li>Social awareness Films.</li>
	</ul>
</div>



	