
<div class="card">
	<img class="img-responsive" src="../assets/images/tile1.png" alt="Slow Internet connection" height="600">
	<div class="card-img-overlay">
		<br/><br/><br/><br/><br/><br/>
		<h2 class="card-title">We make your dreams come true</h2><br/>
		<p class="a">To know about our clients  <a mat-button class="reel" href="http://dineshsrivastav.com/clients.html">click here </a>
		<br/><br/>To watch our company showreel  <a mat-button class="reel" href="https://www.youtube.com/watch?v=YL_FXj5Byz0">click here </a><br/><br/>For our company profile <a mat-button class="reel" href="../assets/company_profile.pdf" download="../assets/company_profile.pdf">click here</a></p>
		<br/><br/><br/><br/><br/><br/>
	</div>
</div><br/><br/>
<div class="features">
	<h1><b>Our Services</b></h1><br/>
	<div class="container-fluid row">
		<img src="../assets/images/3d.png" alt="3D Design & Identity" class="feature_image">
		<div class="col-sm col-md col-lg">
			<h3>3D Design & Identity</h3>
			<p>We create professional identity through unique branding of the product.All branding works are backed sound market research.We also offer Logo Design,and promotional materials & other related services.</p>
		</div>
		<img src="../assets/images/copy.png" alt="Copy Writing" class="feature_image">
		<div class="col-sm col-md col-lg">
			<h3>Copy Writing</h3>
			<p>Creative, versatile and customized write ups which create market adaptability and gives the product reach and value suitable to clients wishes.</p>
		</div>
		<img src="../assets/images/print.png" alt="Print Design" class="feature_image">
		<div class="col-sm col-md col-lg">
			<h3>Print Design</h3>
			<p>Graphic design for flyers, Brochures ,Menus, posters, leave behind, package designs and all the other related stuffs.We design in unison method for perfect visual communication.</p>
		</div>
	</div>
	<div class="container-fluid row">
		<img src="../assets/images/social.png" alt="Social Optimisation" class="feature_image">
		<div class="col-sm col-md col-lg">
			<h3>360 degree Creative Strategy for communication</h3>
			<p>We help the brands figure out best plans to establish a reputation for themselves in the market.(Print Media, Outdoor Media, Electronic Media, Social Media or Digital Media) </p>
		</div>
		<img src="../assets/images/search.png" alt="Search Engine Optimization" class="feature_image">
		<div class="col-sm col-md col-lg">
			<h3>Media Marketing Sales Strategy</h3>
			<p>We have contributed in creating a reputation for many brands to increase their sales and establish their brand in the market. </p>
		</div>
		<img src="../assets/images/brand.png" alt="Brand Marketing (Social Media)" class="feature_image">
		<div class="col-sm col-md col-lg">
			<h3>Brand Marketing(Social Media)</h3>
			<p>We are pioneer in branding through social media platforms through Facebook, twitter, Instagram and other related communication systems.</p>
		</div>
	</div>
</div>